@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* > * {
  font-family: "Poppins", cursive;
  margin: 0;
}

body {
  background: #634fd1;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #169bcf, #32cec1, #1bc5d1);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #169bcf, #32cec1, #1bc5d1);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.Form {
  height: 100vh;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.register {
  width: 100vw;
  display: flex;
  max-width: 978px;
  border-radius: 5px;
  position: relative;
  background-color: white;
  border: 1px solid #e9ecef;
  box-shadow: 1px 3px 10px #e9ecef;
}

.sub-title {
  color: #adb5bd;
}

#form {
  width: 100vw;
  margin: 2em auto;
}

.max-width {
  max-width: 320px;
}

#form > input,
.btn {
  padding: 0.9em 1em;
  border: 1px solid #e9ecef;
}

#form > input:focus {
  outline: none;
}

#form > .btn {
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
  background-color: #003049;
}

.flex {
  gap: 1em;
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.register .col-1 {
  margin: auto;
  padding: 3em 0;
}

.register .col-2 img {
  width: 480px;
  height: 100%;
  object-fit: cover;
  align-self: flex-end;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

@media screen and (min-width: 860px) {
  .register .col-2 img {
    display: initial;
  }
}

.errorMsg {
  color: red;
  font-size: 12px;
  text-align: left;
}

.register-user,
.sign-in-user {
  left: 20px;
  bottom: 20px;
  position: absolute;
}

.sign-up-label,
.sign-in-label {
  color: blue;
  cursor: pointer;
}

.ant-table
  .ant-table-container
  .ant-table-content
  table
  thead.ant-table-thead
  .ant-table-cell {
  text-align: center;
  background-color: rgb(130, 161, 130);
}

.ant-table-wrapper .ant-table-tbody {
  text-align: center;
}

.ant-table-tbody > tr.ant-table-row:hover > td {
  background: rgba(67, 76, 196, 0.158) !important;
}

.required-field {
  color: red;
}

.input-label {
  display: flex;
  width: 200px;
  margin: auto;
}

label {
  text-shadow: 1px 1px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}
