.header {
  height: 5rem;
  display: flex;
  padding: 0 5%;
  align-items: center;
  background-color: #52575a;
  justify-content: space-between;
}

.header ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: baseline;
}

.header li {
  cursor: pointer;
  margin-left: 3rem;
}

.header a {
  font-size: 1.5rem;
  text-decoration: none;
}

.header a:hover,
.header a:active {
  color: white;
}

.active {
  color: white;
}

.unactive {
  color: #fcb8d2;
}

.logoSection {
  color: white;
  display: flex;
  font-weight: bold;
}

.dropdown {
  cursor: pointer;
  margin-left: 12px;
}

.dropdown:hover {
  color: rgb(155, 150, 150);
}

.activeUser {
  margin: auto;
  font-size: 18px;
  padding-left: 8px;
  color: rgb(255, 255, 0);
}
